html {
  background-color: lightblue;
}
body {
  display: flex;
  justify-content: center;
}
.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
.secondaryContainer {
  display: flex;
  justify-content: center;
}
